
# Created by https://www.toptal.com/developers/gitignore/api/react,intellij,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=react,intellij,visualstudiocode

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
.idea/
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
build

*.sublime*

psd
thumb
sketch
build

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/react,intellij,visualstudiocode

#cert
.cert/
