.State {
    font-size: 16px;
    height: 26px;
    vertical-align: middle;
    padding: 0 12px;
    border-radius: 14px;
    line-height: 24px;
  }
  
  .State.slim {
    padding: 0;
    height: 12px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
  }